    .row{     
        /* margin-top: 1rem; */
        background: #dbdfe5;
    }
    .col{
        padding: 0px 15px 10px 10px;
        background: #abb1b8;
        /* border: 1px solid rgba(0,0,0,0.5) */
    }
    #box{
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
     }
     #box h2{
         text-align: center;
     }
     .output{
         display: none;
     }
     #output2{
         display: none;
     }

     input{
         text-align: center;
     }
     #buttonz {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        font-weight: bolder;
        font-size: 3vw;
     }
     #buttonz2{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: left;
        font-weight: bolder;
        font-size: 3vw;
     }
